---
layout: page
title: Welcome!
excerpt: ""
search_omit: true
---

<!-- <ul class="post-list">
{% for post in site.posts limit:10 %} 
  <li><article><a href="{{ site.url }}{{ post.url }}">{{ post.title }} <span class="entry-date"><time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%B %d, %Y" }}</time></span>{% if post.excerpt %} <span class="excerpt">{{ post.excerpt }}</span>{% endif %}</a></article></li>
{% endfor %}
</ul> -->

<p>Hi there, you have reached my personal website. </p>

<p>The main purpose of this site is to host my <a href="/cv/">full CV</a> and <a href="/contact/">contact details</a> . In case you are interested in the Patient Outcome Funding project, please note the content has been migrated onto a <a href="www.patientoutcomefunding.org">separate website</a>.</p>

<br>
<p align="right">
Cheers,  <br>
Sandra
</p>