---
layout: page
title: Welcome!
excerpt: ""
search_omit: true
---

<!-- <ul class="post-list">
{% for post in site.posts limit:10 %} 
  <li><article><a href="{{ site.url }}{{ post.url }}">{{ post.title }} <span class="entry-date"><time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%B %d, %Y" }}</time></span>{% if post.excerpt %} <span class="excerpt">{{ post.excerpt }}</span>{% endif %}</a></article></li>
{% endfor %}
</ul> -->

<p>Hi there, you have reached my personal website. </p>

<p>What are you going to find here? For now, my <a href="/cv/">CV</a> and  <a href="/contact/">contact details</a> . Bear with me as I have recently migrated this website, more to come soon!</p>

<br>
<p align="right">
Cheers,  <br>
Sandra
</p>